---
import NavLink from './NavLink.astro';
import { Image } from '@astrojs/image/components';
import github from '../assets/github.svg'
import linkedin from '../assets/linkedin.svg'
import email from '../assets/email.svg'
import resume from '../assets/resume.png'
import grotesque from '../assets/grotesque.jpeg'

export interface Props {
    header: string
    paragraph1: string
    paragraph2?: string
    destination: string
}

const { header, paragraph1, paragraph2, destination } = Astro.props;
---

<div class="md:flex justify-center items-center p-4 bg-[#1F2022] w-full relative">
    <div class="md:p-4 w-full md:w-[75vw] lg:w-[55vw] m-auto flex justify-center items-center flex-col">
      <h1 class="text-center text-3xl font-bold">{header}</h1>
      <p class="md:p-4 text-left text-md md:text-xl leading-8">{paragraph1}</p>
      <p class="md:p-4 text-left text-md md:text-xl leading-8">{paragraph2}</p>
        <div class="hover:animate-pulse ransform h-max w-max transition duration-500 hover:scale-105">
          <a href={destination} class="hover:text-yellow-400 underline p-4 text-left text-sm md:text-xl leading-8 m-auto">
            {destination === '/'
              ? 'Click me to return home'
              : 'Click me for more about me'}
          </a>
        </div>
    </div>
    <div class="flex flex-col items-center">
      <div class="w-3/5">
        <Image
          class="p-4 rounded-full mx-auto object-cover"
          alt="photo of me"
          src={grotesque}
        />
      </div>
      <ul class="list-none flex flex-wrap items-center justify-center">
        <NavLink imgsrc={github} name="github" url="https://www.github.com/wesngu28" />
        <NavLink
          imgsrc={linkedin}
          name="linkedin"
          url="https://www.linkedin.com/in/wesngu28/"
        />
        <NavLink imgsrc={email}  name="email" url="" />
        <NavLink imgsrc={resume}  name="resume" url="https://wesngu28.github.io/resume/" />
      </ul>
    </div>
</div>