---
import { Image } from 'astro:assets'
import placeholder from '../assets/placeholder.jpg'
---

<div class="my-20 flex w-full justify-evenly items-center flex-col lg:flex-row relative">
  <div class="m-4">
    <p class="text-center mt-11 mb-5 text-2xl font-bold">My Top Artists This Month</p>
    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 h-max">
      {
        Array.from({ length: 8 }, _ => (
          <div class="artist flex justify-center items-center m-2 p-1 bg-[beige] rounded-lg">
            <Image alt="placeholder" src={placeholder} width={160} height={160} />
          </div>
        ))
      }
      <!-- <ArtistCard client:idle /> -->
    </div>
  </div>
</div>

<style>
  .hiddens {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
</style>

<script>
    const artistDivs = document.querySelectorAll('.artist');
    const response = await fetch(`${import.meta.env.PUBLIC_URL}/api/lastfm.json`);
    const songJson = await response.json();

    artistDivs.forEach((artistDiv, index) => {
      const artist = songJson[index];
      if (artist) {
        artistDiv.classList.add('animate-slideshow')
        artistDiv.innerHTML = `
          <a target="_blank" href="${artist.href}" rel="noopener noreferrer">
            <img
              class="m-auto w-[160px] h-[160px] object-contain"
              loading="lazy"
              src="${artist.img}"
              width="160"
              height="160"
              alt="${artist.name} icon from Spotify"
              title="${artist.name} - ${artist.playcount} plays"
            />
          </a>
        `;
      }
    });
</script>