---
import { Image } from '@astrojs/image/components'
import type { lastFMAPI } from '../models/lastFMAPI'
import type { Artist } from '../models/lastFMArtist'

const artistQuery = await fetch(`${import.meta.env.PUBLIC_URL}/api/lastfm.json`, {
  cache: 'no-cache'
})
const artistText = await artistQuery.text()
const artistJson: Array<lastFMAPI> = await JSON.parse(artistText)
---

<div
  class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 h-max"
>
  {
    artistJson.map((artist: Artist) => {
      return <div class="flex justify-center items-center m-2 p-1 bg-[beige] text-black rounded-lg">
        <a target="_blank" href={artist.href} rel="noopener noreferrer">
          <Image
            class="m-auto"
            src={artist.img}
            width={160}
            height={160}
            alt={`${artist.name} icon from spotify`}
            title={`${artist.name} - ${artist.playcount} plays`}
          />
        </a>
      </div>
    })
  }
</div>
