---
import type { lastFMAPI } from '../models/lastFMAPI'
import type { Artist } from '../models/lastFMArtist'

interface Props {
  artists: Array<lastFMAPI>
}

const { artists } = Astro.props
---

<div
  class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 h-max"
>
  {
    artists.map((artist: Artist) => {
      return <div class="flex justify-center items-center m-2 p-1 bg-[beige] text-black rounded-lg">
        <a target="_blank" href={artist.href} rel="noopener noreferrer">
          <img
            class="m-auto"
            src={artist.img}
            width={160}
            height={160}
            alt={`${artist.name} icon from spotify`}
            title={`${artist.name} - ${artist.playcount} plays`}
          />
        </a>
      </div>
    })
  }
</div>
