---
import { Image } from 'astro:assets'
import { langs } from '../utils/LanguageList'
import Github from './Github'
import Navbar from './Navbar.astro'
import Sidebar from './Sidebar.astro'
import Techbar from './Techbar.astro'
export interface Props {
  header: string
  paragraph1: string
  repository?: string
  techs?: string[]
  nav?: boolean
  imageData?: [string, any]
}
const { header, paragraph1, repository, techs, nav, imageData } = Astro.props
---

<div class="md:flex flex-col bg-[#1F2022] w-full relative justify-center">
  { nav && <Navbar /> }
  { nav &&
  <div class="md:absolute hidden md:block md:left-0">
    <Sidebar />
  </div> }
  <div class="justify-center items-center p-4 md:flex relative">
    <div
      class="md:p-4 w-full md:w-[75vw] lg:w-[55vw] m-auto flex justify-center items-center flex-col relative"
    >
    <a class="fill-white p-4 md:absolute left-0 tiny:top-0 tiny:bottom-auto bottom-0 top-auto hover:cursor-pointer" onclick="window.history.back()">
      <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>
    </a>
      <h1 class="text-center text-4xl font-bold">{header}</h1>
      <p class="md:p-4 text-left text-md md:text-xl leading-8">{paragraph1}</p>
      { imageData &&
        <Image
          alt={imageData[0]}
          format={'webp'}
          loading={'eager'}
          class="w-full md:w-[75vw] lg:w-[55vw]"
          src={imageData[1].default}
          class="p-4 m-auto"
        />
      }
      {
        repository && (
          <>
            <Github langs={langs} url={repository} client:idle />
            {techs && <Techbar techs={techs} />}
          </>
        )
      }
    </div>
  </div>
  { nav &&
  <div class="md:absolute block md:hidden md:left-0">
    <Sidebar />
  </div>
  }
</div>
