---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
const allBlogPosts = await getCollection('blog')
const posts = Array.from(allBlogPosts)
  .map(post => {
    let data = { ...post.data, slug: post.slug }
    return data
  })
  .sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf())
---

<div class="mb-16 w-[100vw] relative">
  <h1 class="mt-11 text-center text-2xl p-4 font-bold">Posts</h1>
  <ul class="flex items-center justify-center flex-wrap">
    {
      posts.map(post => (
        <li class="p-4 bg-[#21222a] m-4 text-center">
          <a href={`/blog/${post.slug}`} class="max-w-[480px] inline-block">
            <Image
              class="p-4"
              loading={'eager'}
              format={'webp'}
              alt={post.heroImageAlt}
              height={360}
              width={480}
              src={post.heroImage}
            />
            <h2 class="text-3xl"> {post.title}</h2>
            <p class="text-sm mb-4">
              🕘{' '}
              <time datetime={post.pubDate}>
                {new Date(post.pubDate).toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </time>
            </p>
            <p>{post.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</div>
