---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
const allBlogPosts = await getCollection('blog')
const posts = Array.from(allBlogPosts)
  .map(post => {
    let data = { ...post.data, slug: post.slug }
    return data
  })
  .sort((a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf())
---

<div class="mb-16 relative">
  {
    posts.map(post => (
      <div class="my-20 clienthide">
        <a href={`/blog/${post.slug}`} class="flex">
          <Image
            class="p-4"
            loading={'eager'}
            format={'webp'}
            alt={post.heroImageAlt}
            height={240}
            width={360}
            src={post.heroImage}
          />
          <div class="max-w-md text-left my-auto">
            <h2 class="text-2xl underline"> {post.title}</h2>
            <p class="text-sm">
              🕘
              <time datetime={post.pubDate}>
                {new Date(post.pubDate).toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </time>
            </p>
            <p>{post.description}</p>
          </div>
        </a>
      </div>
    ))
  }
</div>
