---
import { Image } from '@astrojs/image/components'
import Navbar from './Navbar.astro'
import Sidebar from './Sidebar.astro'
export interface Props {
  header: string
  paragraph1: string
  image: string
  imageAlt: string
  imageAttr: string
}
const { header, paragraph1, image, imageAlt, imageAttr } = Astro.props
---

<div class="md:flex flex-col bg-[#1F2022] w-full relative justify-center">
  <Navbar />
  <div class="md:absolute hidden md:block md:left-0">
    <Sidebar />
  </div>
  <div class="justify-center items-center p-4 md:flex relative">
    <div
    class="md:p-4 w-full md:w-[75vw] lg:w-[55vw] m-auto flex justify-center items-center flex-col"
  >
    <h1 class="text-center text-4xl font-bold">{header}</h1>
    <p class="md:p-4 text-left text-md md:text-xl leading-8">{paragraph1}</p>
  </div>
  <div class="flex flex-col items-center">
    <div class="w-3/5">
      <Image
        loading={'eager'}
        format={'webp'}
        class={`p-4 'rounded-none'mx-auto object-cover`}
        alt={imageAlt}
        title={imageAttr}
        width={image}
        height={image}
        src={image}
      />
    </div>
  </div>
  </div>
</div>