---
import { MoveLeft } from 'lucide-astro'
import ContactLinks from './ContactLinks.astro'
import { Image } from 'astro:assets'
import Techbar from './Techbar.astro'
import langs from '../data/language-list.json'
import Github from './Github'

export interface Props {
  title?: string
  header: string
  text: string
  center?: boolean
  pubDate?: string
  repository?: string
  techs?: string[]
  imageData?: [string, any]
}

const { header, text, center, pubDate, repository, techs, imageData } = Astro.props
---

<div class="pt-16">
  {
    (pubDate || repository) && (
      <a
        class="text-2xl underline hover:animate-pulse transform h-max w-max transition duration-500 hover:scale-105"
        onclick="window.history.back()"
        role="button"
      >
        <MoveLeft class="size-8 m-auto" />
      </a>
    )
  }
  <h1 class="text-6xl font-bold m-4 mb-8 text-center">
    {header}
  </h1>
  {
    imageData && (
      <Image
        alt={imageData[0]}
        format={'webp'}
        loading={'eager'}
        class="max-w-lg p-4 mx-auto mb-8"
        src={imageData[1].default}
      />
    )
  }
  <p class={`m-auto text-xl leading-8 max-w-3xl ${center ? 'text-center' : 'text-left'}`}>
    {text}
  </p>
  {
    pubDate && (
      <p class="text-lg text-center m-2">
        <time>
          {' '}
          {new Date(pubDate).toLocaleDateString('en-us', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })}
        </time>
      </p>
    )
  }
  <div class="max-w-md flex flex-col mx-auto mt-4">
    {
      repository && (
        <>
          <Github langs={langs} url={repository} client:idle />
          {techs && <Techbar techs={techs} margin="auto" />}
        </>
      )
    }
  </div>
  <ContactLinks />
</div>
