---
import Github from './Github'
import github from '../assets/github.png'
import crown from '../assets/crown.png'
import extern from '../assets/external-link.png'
import Techbar from './Techbar.astro'
import { langs } from '../utils/LanguageList'

import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
const projectCollection = await getCollection('projects')
const posts = Array.from(projectCollection)
    .map(post => {
        let data = { ...post.data, slug: post.slug }
        return data
    })
    .sort((a, b) => new Date(a!.content).valueOf() - new Date(b!.content).valueOf())
    // At some point rethink this
    .slice(0, 1)

const { techs, title, description, repository, live, md, hackathon } = posts[0]
---

{
    posts.map(async post => {
        const dynamicImage = await import(`../assets/projects/${post!.heroImage}.png`)
        return (
            <li class="transition duration-500 hover:scale-105 hover:skew-y-1 p-4 bg-[#21222a] m-4 flex justify-center relative rounded-lg place-items-center max-w-sm md:max-w-none flex-col md:flex-row">
                <div>
                    <Image
                        loading={'lazy'}
                        format={'webp'}
                        alt={`${title} or related content if no screenshot makes sense`}
                        src={dynamicImage.default}
                        class="w-auto sm:max-w-xs md:max-w-md lg:max-w-lg"
                    />
                    <Github langs={langs} url={repository} client:idle />
                </div>
                <div class="flex flex-col items-center">
                    <div class={`pr-2 pl-2 mb-5 max-w-sm md:w-auto`}>
                        <div class="mt-4">
                            <div class="flex justify-between items-center mb-4 w-full">
                                <a target="_blank" href={repository} rel="noopener noreferrer">
                                    <h2 class="hover:underline m-2 text-left font-bold text-2xl">
                                        {title}
                                    </h2>
                                </a>
                                <div class="flex">
                                    {hackathon && (
                                        <Image
                                            class={'m-1'}
                                            width={30}
                                            height={30}
                                            alt="external link"
                                            src={crown}
                                        />
                                    )}
                                    <a
                                        target="_blank"
                                        href={repository}
                                        rel="noopener noreferrer"
                                        class="text-black md:text-xl hover:underline m-1"
                                    >
                                        <Image
                                            width={30}
                                            height={30}
                                            alt="external link"
                                            src={github}
                                        />
                                    </a>
                                    {live && (
                                        <a
                                            target="_blank"
                                            href={live}
                                            rel="noopener noreferrer"
                                            class="text-black md:text-xl hover:underline m-1 bg-white"
                                        >
                                            <Image alt="external link" src={extern} />
                                        </a>
                                    )}
                                </div>
                            </div>
                            <p class="m-2 h-24 lg:text-sm ultrawide:text-base">{description}</p>
                        </div>
                        {md && (
                            <a href={`/projects/${md}`}>
                                <div class="flex items-center gap-2 justify-end mr-5">
                                    <p>Read More</p>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="32"
                                        height="32"
                                        fill="currentColor"
                                        class="bi bi-arrow-right"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                                        />
                                    </svg>
                                </div>
                            </a>
                        )}
                    </div>
                    <div class="flex flex-col items-center lg:flex-row gap-4">
                        <Techbar techs={techs} />
                    </div>
                </div>
            </li>
        )
    })
}