---
import { Image } from '@astrojs/image/components'
import Github from './Github'
import github from '../assets/github.png'
import crown from '../assets/crown.png'
import extern from '../assets/external-link.png'
import Techbar from './Techbar.astro'
import { langs } from '../utils/LanguageList'

export interface Props {
  techs: string[]
  image: ImageMetadata
  name: string
  desc: string
  url: string
  live?: string
  md?: string
  hackathon?: boolean
}

const { techs, image, name, desc, url, live, md, hackathon } = Astro.props
---

<li
  class="p-4 bg-[#21222a] m-4 flex flex-col justify-center relative rounded-lg place-items-center w-[300px] tiny:w-[400px] md:w-auto 2xl:w-3/4"
>
  {md ? <a href={`/projects/${md}`}>
    <Image
      loading={'lazy'}
      format={'webp'}
      class="hover:scale-105 z-10 ease-out duration-500"
      alt={`${name} screenshot or related content if no screenshot makes sense`}
      src={image}
    />
  </a> :
    <Image
      loading={'lazy'}
      format={'webp'}
      alt={`${name} screenshot or related content if no screenshot makes sense`}
      src={image}
    />
  }
  <Github langs={langs} url={url} client:idle />
  <div class={`pr-2 pl-2 mb-5`}>
    <div class="mt-4">
      <div class="flex justify-between items-center mb-4 w-full">
        <a target="_blank" href={url} rel="noopener noreferrer">
          <h2 class="hover:underline m-2 text-left font-bold text-2xl">
            {name}
          </h2>
        </a>
        <div class="flex items-center">
          {hackathon && <Image class={"m-1"} width={30} height={30} alt="external link" src={crown} />}
          <a
            target="_blank"
            href={url}
            rel="noopener noreferrer"
            class="text-black md:text-xl hover:underline m-1"
          >
            <Image width={30} height={30} alt="external link" src={github} />
          </a>
          {
            live && (
              <a
                target="_blank"
                href={live}
                rel="noopener noreferrer"
                class="text-black md:text-xl hover:underline m-1"
              >
                <Image alt="external link" src={extern} />
              </a>
            )
          }
        </div>
      </div>
      <p class="m-2 h-24 lg:text-sm ultrawide:text-base">{desc}</p>
    </div>
  </div>
  <Techbar techs={techs} />
</li>
