---
import Github from './Github'
import Techbar from './Techbar.astro'
import langs from '../data/language-list.json'
import Image from 'astro/components/Image.astro'
import { ExternalLink, MoveRight } from 'lucide-astro'

export interface Props {
  techs: string[]
  title: string
  description: string
  repository: string
  live?: string
  md?: string
  image: string
  orientation?: string
}

const { techs, title, description, repository, live, md, image, orientation } = Astro.props

const dynamicImage = await import(`../assets/projects/${image}.png`)
---

<div
  class={`${orientation === 'horizontal' && 'col-span-1 md:col-span-2 md:flex-row items-center'} clienthide border border-neutral-700 bg-neutral-800 m-4 flex justify-center relative rounded-lg max-w-sm md:max-w-5xl flex-col`}
>
  <div>
    <Image
      loading={'lazy'}
      format={'webp'}
      alt={`${title} or related content if no screenshot makes sense`}
      src={dynamicImage.default}
      class={`w-auto ${orientation === 'horizontal' && 'sm:max-w-xs md:max-w-md lg:max-w-lg'}`}
    />
    <Github langs={langs} url={repository} client:idle />
  </div>
  <div class={`flex flex-col items-center ${orientation === 'horizontal' ? 'ml-3' : 'm-3'}`}>
    <div class={`flex flex-col items-center max-w-sm md:w-auto`}>
      <div>
        <div class="flex justify-between items-center">
          <a target="_blank" href={repository} rel="noopener noreferrer">
            <h2 class="hover:underline text-left font-bold text-2xl">
              {title}
            </h2>
          </a>
          <div class="flex">
            <a
              target="_blank"
              href={repository}
              rel="noopener noreferrer"
              class="text-black md:text-xl hover:underline m-1"
            >
              <svg class="invert size-8" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                ><title>GitHub</title><path
                  d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                ></path></svg
              >
            </a>
            {
              live && (
                <a target="_blank" href={live} rel="noopener noreferrer" class="md:text-xl hover:underline m-1">
                  <ExternalLink class="size-8" />
                </a>
              )
            }
          </div>
        </div>
        <p class="mt-4">{description}</p>
      </div>
      {
        md && (
          <a href={`/projects/${md}`}>
            <div class="flex items-center mt-8 gap-2 justify-end">
              <p>Read More</p>
              <MoveRight class="size-8" />
            </div>
          </a>
        )
      }
    </div>
    <div class="flex flex-col items-center lg:flex-row gap-4">
      <Techbar techs={techs} />
    </div>
  </div>
</div>
