---
import '../styles/base.css'
import Footer from '../components/Footer.astro'
import { Image } from '@astrojs/image/components'
import MapLayout from './MapLayout.astro'
import BlogPostAbout from '../components/BlogPostAbout.astro'
export interface Props {
  content: {
    title: string
    description: string
    pubDate?: string
    updatedDate?: string
    heroImage: string
    heroImageAlt: string
    heroImageAttr: string
  }
}
import '@fontsource/lora';
import Sidebar from '../components/Sidebar.astro'
const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    heroImageAlt,
    heroImageAttr,
  },
} = Astro.props
---

<MapLayout title={title}>
  <BlogPostAbout
    header={title}
    paragraph1={description}
    image={heroImage}
    imageAlt={heroImageAlt}
    imageAttr={heroImageAttr}
  />
  <div class="w-[100vw] mb-12 relative flex items-center justify-center">
    <article class="w-full md:w-[75vw] lg:w-[55vw]">
      <h1 class="mt-24 text-center text-5xl p-4 font-bold">{title}</h1>
      <Image
        alt={heroImageAlt}
        format={'webp'}
        loading={'eager'}
        title={heroImageAttr}
        width={720}
        height={360}
        src={heroImage}
        class="p-4 m-auto"
      />
      {
        pubDate && (
          <p class="text-lg text-center m-2">
            <time>{pubDate}</time>
          </p>
        )
      }
      {
        updatedDate && (
          <div class="text-">
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
      <hr />
      <div class="prose prose-2xl prose-invert max-w-none">
        <slot />
      </div>
    </article>
  </div>
  <div class="relative">
    <Footer />
  </div>
</MapLayout>
