---
export interface Props {
  title: string
  description: string
  pubDate?: string
  updatedDate?: string
  heroImage?: string
  heroImageAlt?: string
  heroImageAttr?: string
}
import Base from './Base.astro'
import Blurb from '../components/Blurb.astro'

const { title, description, pubDate, heroImage, heroImageAlt, heroImageAttr } = Astro.props
---

<Base title={title} map={false}>
  <Blurb header={title} text={description} slot={'about'} center={true} pubDate={pubDate} />
  <div class="flex flex-col justify-center items-center h-full w-full">
    <div class="w-[100vw] mb-12 relative flex items-center justify-center">
      <article class="w-full max-w-xl md:max-w-3xl lg:max-w-5xl">
        <!-- <Image
          alt={heroImageAlt}
          format={'webp'}
          loading={'eager'}
          title={heroImageAttr}
          width={720}
          height={360}
          src={heroImage}
          class="p-4 m-auto"
        /> -->
        <div class="prose prose-lg prose-invert max-w-none p-6 my-20">
          <slot />
        </div>
      </article>
    </div>
  </div>
</Base>
