---
import '../styles/base.css'
import Footer from '../components/Footer.astro'
import BlogPostAbout from '../components/BlogPostAbout.astro'
export interface Props {
  content: {
    title: string
    description: string
    repository: string
    techs: string[]
    heroImage: string
    heroImageAlt: string
  }
}
import '@fontsource/lora'
import Base from './Base.astro'

const {
  content: { title, description, techs, repository, heroImage, heroImageAlt },
} = Astro.props

const dynamicImage = await import(`../assets/projects/${heroImage}.png`)
---

<Base title={title} map={true}>
  <div class="flex flex-col justify-center items-center h-full w-full">
    <BlogPostAbout
      header={title}
      paragraph1={description}
      repository={repository}
      techs={techs}
      nav={false}
      imageData={[heroImageAlt, dynamicImage]}
    />
    <div class="w-[100vw] mb-12 relative flex items-center justify-center">
      <article class="w-full max-w-5xl">
        <div class="prose prose-xl prose-invert max-w-none p-6">
          <slot />
        </div>
      </article>
    </div>
    <div class="relative">
      <Footer />
    </div>
  </div>
</Base>
