---
import '../styles/base.css'
import Footer from '../components/Footer.astro'
export interface Props {
  content: {
    title: string
    description: string
    repository: string
    techs: string[]
    heroImage: string
    heroImageAlt: string
  }
}
import Base from './Base.astro'
import Blurb from '../components/Blurb.astro'

const {
  content: { title, description, techs, repository, heroImage, heroImageAlt },
} = Astro.props

const dynamicImage = await import(`../assets/projects/${heroImage}.png`)
---

<Base title={title} map={false}>
  <Blurb
    header={title}
    text={description}
    slot={'about'}
    center={true}
    repository={repository}
    techs={techs}
    imageData={[heroImageAlt, dynamicImage]}
  />
  <div class="flex flex-col justify-center items-center h-full w-full">
    <div class="w-[100vw] mb-12 relative flex items-center justify-center">
      <article class="w-full max-w-xl md:max-w-3xl lg:max-w-5xl">
        <div class="prose prose-xl prose-invert max-w-none p-6 my-20">
          <slot />
        </div>
      </article>
    </div>
  </div>
</Base>
